<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<% const data = htmlWebpackPlugin.options.data %>
<% include src/layout/head %>

<body>
  <main class="container">
    <section class="content">
      <h1>
        <%= data.body.name %>
      </h1>
      <p>
        <%= data.body.position %>
      </p>
      <a href="mailto:<%= data.body.email %>" title="Email <%= data.body.name %>">Contact</a>
    </section>
  </main>

  <% include src/layout/footer %>
  <% include src/layout/ga %>
</body>

</html>
