<footer>
  <% data.contacts.forEach(function(contact) {%>
  <a class="<%= contact.class %>" href="<%= contact.link %>" title="<%= contact.title %>">
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fab fa-<%= contact.class %> fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <% }); %>
</footer>
