<footer>
  <% data.contacts.forEach(function(contact) {%>
  <a class="<%= contact.class %>" href="<%= contact.link %>" title="<%= contact.title %>">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </span>

    <span class="icon-<%= contact.class %>" data-fa-mask="fas fa-circle" style="background:MistyRose"></span></a>
  
  <% }); %>
</footer>
