<head>
  <title>
    <%= data.head.title %>
  </title>
  <meta charset="utf-8" />
  <meta name="author" content="<%= data.head.meta.name %>" />
  <meta name="description" content="<%= data.head.meta.description %>">
  <meta name="keywords" content="<%= data.head.meta.keywords %>" />
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:300,700">
</head>
