<head>
    <title>
        <%= data.title %>
    </title>
    <meta charset="utf-8" />
    <meta name="description" content="<%= data.description %>">
    <meta name="keywords" content="<%= data.keywords %>" />
    <meta name="author" content="<%= data.name %>" />
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900"> -->
    <!-- <script src="https://use.fontawesome.com/f92c6bb253.js"></script> -->
</head>